./resource
**/.trash/
**/trash/
**/disable/
**/workshop/
**/res/
**/resource/
**/pcap/
**/output/
**/output_split/
**/output_rewrite/
**/playground.ipynb
**/workshop.ipynb
**/temp/
**/logs/
**/*.log
**/*.pyc
**/__pycache__/
**/temp_part/